 html, body {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
        }
#container {
    margin: 0px auto;
    background-color:#d4cca79f;
 }

header h1{
    text-align: center;
    background-attachment: fixed;
    background-color:#d4cca79f;
    margin: 0 auto;
}
#Martinafoto img {
    display:block;
    margin: 0px auto;
    border:#d4cca79f 2px solid #d4cca79f;
    border-radius: 66%;
    height: 400px;
    border:2px solid chocolate;

}
main H2{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    border:2px solid chocolate ;
  
}
li{
    padding-bottom: 10px;
}
h3{
    text-decoration-line: underline;
}
.dovednosti ul{
    list-style-type: none;
    border:2px solid chocolate ;
    border: none;
    width: 1025px;
} 
.dovednosti ul li{
    background-color:#d4cca79f;
    border: 1px solid black;
    text-align: center;
    border-radius:30p;
    padding:3px;
    display: inline-block;
    width: 25%;


}


