 html, body {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
        }
#container {
    margin: 0px auto;
    background-color:#d4cca79f;
 }

header h1{
    text-align: center;
    background-attachment: fixed;
    background-color:#d4cca79f;
    margin: 0 auto;
}
p{
     font-weight: bold;
    }

#Martinafoto img {
    display:block;
    margin: 0px auto;
    border:#d4cca79f 2px solid #d4cca79f;
    border-radius: 66%;
    height: 400px;
    border:2px solid chocolate;
    position:relative;
    top:10px;
}
section{
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url(images/tulip.png);
    /*opacity: 0,1;*/
    /*background-size:cover;*/
    height:75vh;
}
main H2{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color:#fff;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:floralwhite;
}

p a{
    color: #fff; 
    display:inline-block;  
    margin-top: -20px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    border:2px solid;
    padding:5px;
    font-weight: bold;
    background:#112ba1;
}
.btn:hover{
    background-color:#3c91b9;
    color:#112ba1;
    transition: background 1.5s;
}
.fototelefon img{
    height: 15px;
}
fototelefon{
    display: inline-block;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    border:2px solid chocolate ;

}
li{
    padding-bottom: 10px;
}

h3{
    text-decoration-line: underline;
}

.dovednosti{
    text-align: center;
}
.dovednosti ul{
    list-style-type: none;
    border: none;
    /*width: 1020px;*/
} 

.dovednosti ul li{
    background-color:#d4cca79f;
    border: 2px solid chocolate;
    border-radius:30px;
    padding:3px 5px;
    display: inline-block;
    /*width: 25%;*/
}
/*patička*/
footer {
    color:grey;
    text-align: center;
    background-color:#d4cca;
}
p span{
    font-size: 1.2em;
}
p label{
  list-style-image:url(images/telefon.gif);
}